<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkesslas.serge" >

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Serge"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.SmsBroadcastReceiver" android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AddContactActivity"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".activity.ShowContactActivity"
            android:label="@string/title_activity_show_contact" >
        </activity>
        <activity
            android:name=".activity.EditContactActivity"
            android:label="@string/title_activity_edit_contact" >
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
